@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;0,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:ital,wght@0,300;0,600;0,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Skranji:wght@700 & display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----PRODUCTOS GENERALES-----*/

.juegos h2 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: black;
    color: white;
  }
  
  .juegos h3 {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    background-color: rgba(92, 92, 92, 0.658);
  }
  
  .juegos a {
    display: flex;
    margin-top: 50px;
  }
  
  .juegos p {
    display: flex;
    justify-content: center;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: greenyellow;
    background-color: rgba(92, 92, 92, 0.658);
  }
  
  /* GRIDS */
  
  .header-grid {
    display: grid;
    grid-row-gap: -20px;
    grid-column-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  
  .texto img {
    display: flex;
    justify-content: center;
    margin-left: 800px;
    border-radius: 30px;
  }
  
  .texto div {
    display: flex;
    justify-content: center;
    margin-left: -2000px;
    margin-top: -200px;
  }
  
  .texto p {
    display: flex;
    justify-content: center;
    margin-top: -150px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  
  .texto p {
    display: grid;
    grid-row-gap: -20px;
    grid-column-gap: 20px;
  }
  
  .banner {
    display: flex;
    justify-content: center;
    margin-left: 400px;
    display: grid;
    grid-template-columns: repeat(20, 8fr);
  }
  
  .negro {
    background-color: black;
    padding: 0px;
    width: 0px;
  }

  .hero h2 {
    text-decoration: none;
    color: #c0c0c0;
    border: 2px solid white;
    padding: 20px;
    border-radius: 20px;
    font-size: 60px;
    font-family: sans-serif;
    position: relative;
    top: -100px;
    left: 0px;
  }
  
  .hero {
    width: 100%;
    height: 85vh;
    background-image: url(../img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .hero H3 {
    color: #07f9a2;
    font-size: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    border: 2px solid blueviolet;
    padding: 20px;
    border-radius: 20px;
  }
  .hero a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border: 4px solid greenyellow;
    border-radius: 20px;
    position: relative;
    top: 100px;
    left: -20px;
  }
  
  .hero p {
    margin-bottom: 20px;
    color: lawngreen;
  }
  
  .CONTACTANOS {
    color: white;
    font-size: 25px;
    height: 120vh;
    background-image: url(../img/fondo-madera.jpg);
  }
  
  .Titulo-h2 {
    color: greenyellow;
    background-color: rgba(92, 92, 92, 0.658);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    display: flex;
    margin-top: 100px;
    margin-left: 550px;
    padding: 20px;
  }
  
  .productos div img {
    width: 250px;
    height: 250px;
    flex-direction: column;
    border-radius: 20%;
    box-shadow: 14px 28px 42px 5px rgba(0, 0, 0, 0.69);
    -webkit-box-shadow: 14px 28px 42px 5px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 14px 28px 42px 5px rgba(0, 0, 0, 0.69);
  }
  
  .productos div a {
    color: red;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-style: normal;
    font-size: 25px;
    position: relative;
    top: 10px;
    left: -5px;
  }
  
  .productos div {
    width: 320px;
    height: 380px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: inline-block;
  }
  
  .productos div img {
    width: 250px;
    height: 250px;
  }
  
  .productos div a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 20px;
    border: solid 3px red;
  }
  
  .Productos-1 {
    background-color: black;
    font-weight: 500;
    font-style: normal;
    color: white;
    margin-top: 0px;
    display: flex;
    margin-top: 30px;
    justify-content: center;
  }
  
  .productos {
    margin: 100px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif !important;
  }
  
  .Games {
    text-align: center;
    color: white;
    display: block;
    background-color: black;
    width: 100%;
  }
  
  .logo {
    display: flex;
    flex-direction: row-reverse;
    width: 1600px;
    height: auto;
  
    float: inline-start;
    margin: 10px;
  }
  .texto {
    text-align: center;
    font-size: 1.2rem;
    height: 150px;
    width: 650px;
    margin: 10rem auto;
  }
  
  .Nuestro {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 20px;
  }
  
  .movil {
    display: flex;
    margin-top: -200px;
    height: 300px;
    margin: 2rem auto;
    text-align: center;
    width: -100;
  }
  
  .trata {
    text-align: center;
    background-color: white;
    top: 200px;
    left: 200px;
    height: 400px;
  }
  
  .Nuestro2 .texto-2 {
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.2rem;
    height: 200px;
    width: 800px;
    margin: 10rem auto;
    justify-content: center;
    align-items: center;
    margin-block-start: -300px;
  }
  
  .botonU a {
    position: absolute;
    left: 46%;
    margin-block-start: -200px;
    color: red;
    background-color: black;
    text-align: center;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font: optional;
    font-size: 1.2rem;
    border-radius: 20px;
  }
  
  .equipo {
    color: red;
    background-color: black;
    text-align: center;
    font-size: 1.2rem;
  }
  .equipo2o {
    color: black;
    text-align: center;
    font-size: 30px;
  }
  
  .equipog {
    display: flex;
    margin-top: 20px;
    margin-left: 240px;
    text-align: center;
    color: red;
    font-size: 1.8rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 20px;
    height: 120px;
  }
  .equipob {
    text-align: center;
    position: relative;
    top: -40px;
    left: 10px;
    color: black;
    font-size: 1.4rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    margin-bottom: 30px;
    height: 200px;
  }
  
  section .enlace30 {
    color: red;
    position: relative;
    top: -100px;
    left: 837px;
    font-size: 1.3rem;
    background-color: black;
    padding: 10px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 10px;
  }
  
  .contratanos {
    color: red;
    text-align: center;
    background-color: black;
    font-size: 1.7rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    padding: 10px;
  }
  .contratanosya {
    text-align: center;
    color: red;
    display: flex;
    margin-left: -60px;
    margin-top: 60px;
    text-align: center;
    height: 400px;
    font-size: 20px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  
  .enlace80 {
    text-align: center;
    color: red !important;
    position: relative;
    font-size: 1.4rem;
    top: -150px;
    left: 840px;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    font-style: normal;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .Quienes {
    color: red;
    height: 2000px;
  }
  
  .Quienes {
    text-align: center;
    width: 100%;
    height: 85vh;
    background-image: url(../img/Juegos\ multiple.jpeg);
    background-position: center;
    background-attachment: fixed;
  }
  
  .titulon1 {
    font-size: 27px;
    font-family: "Times New Roman", Times, serif;
    text-decoration: none;
    display: flex;
    margin-left: 50px;
    
  }
  
  .titulon2 {
    font-size: 25px;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
  }
  
  .boton20 {
    color: white !important;
    position: absolute;
    left: 45%;
    margin-block-start: -250px;
    background-color: black;
    text-align: center;
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font: optional;
    font-size: 1.2rem;
    border-radius: 20px;
  }
  
  .equipo20 {
    background-color: white;
  }
  
  .contratanosya {
    font-family: fantasy;
    justify-content: center;
    position: relative;
    top: px;
    left: 20px;
  }
  
  .Seccioncompleta {
    background-color: white;
  }
  
  .equipo20 {
    text-align: center;
    font-size: 20px;
    position: relative;
    top: 100px;
    left: -5px;
  }
  
  .equipo30 {
    text-align: center;
    font-size: 25px;
    position: relative;
    top: -10px;
    left: -20px;
  }
  
  .equipo48 {
    text-align: center;
    font-size: 1.2rem;
    height: -200px;
    width: 900px;
    margin: 10rem auto;
    position: absolute;
    left: 25%;
    position: relative;
    top: -120px;
    left: -20px;
  }
  
  .workinnosotros {
    text-align: center;
    width: 100%;
    height: 85vh;
    background-image: url(../img/Juegos\ multiple.jpeg);
    background-position: center;
    background-attachment: fixed;
  }
  
  .titulo2 li a {
    text-decoration: none;
    font-size: 20px;
  }
  
  .titulo3 li a {
    text-decoration: none;
    font-size: 20px;
  }
  
  .titulo40 li a {
    text-decoration: none;
    font-size: 20px;
  }
  
  .titulo5 li a {
    text-decoration: none;
    font-size: 20px;
  }
  
  .Caja {
    background-color: white;
    font-size: 30px;
  }
  
  .texto39 {
    text-align: center;
    font-size: 1.2rem;
    height: -200px;
    width: 900px;
    margin: 10rem auto;
    position: absolute;
    left: 25%;
    position: relative;
    top: -20px;
    left: -40px;
  }
  
  .aventura {
    padding: 20px;
    position: relative;
    top: 400px;
    left: 800px;
    color: white;
    background-color: black;
    font-size: 20px;
    font-family: monospace;
  }
  
  .jugarnow {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: greenyellow;
    background-color: rgba(92, 92, 92, 0.658);
  }
  
  .parrafo {
    display: flex;
    justify-content: center;
    color: greenyellow;
    background-color: rgba(92, 92, 92, 0.658);
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
  }
  
  .titulos202 {
    display: flex;
    justify-content: center;
    background-color: rgba(92, 92, 92, 0.658);
    padding: 20px;
  }
  
  .fotopagina {
    display: flex;
    justify-content: flex-end;
    position: relative;
    left: -40px;
  }
  
  .fototexto1 {
    height: 300px;
    margin: 1rem auto;
    text-align: center;
    width: 600px;
    margin-left: 500px;
    margin-top: -300px;
  }
  
  .enlace90 {
    text-align: center;
    color: red !important;
    position: relative;
    font-size: 1.4rem;
    top: 5px;
    left: 700px;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
    font-style: normal;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  .work {
    font-size: 10px;
    font-style: normal;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  
  /*-----CARDS-----*/
  .titulo5 {
    height: 500px;
  }
  
  /*-----PAGINA DE QUIENES SOMOS-----*/
  
  .tramaint {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: greenyellow;
  }
  
  .negro {
    text-align: center;
    color: red;
    height: 100px;
    margin: 2rem auto;
    width: 700px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
  }
  
  .empresa2 {
    text-align: center;
    color: red;
    height: 100px;
    margin: 2rem auto;
    width: 700px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
  }
  
  .empresa3 {
    text-align: center;
    color: red;
    height: 0px;
    margin: 2rem auto;
    width: 700px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 18px;
    display: flex;
    margin-top: 200px;
  }
  
  .nav__label img{
    display: flex;
    margin-left: -950px;  
    margin-top: -50px;
  }